@font-face {
    font-family: 'hangry_handregular';
    src: url('/.font/hangryhand-regular-webfont.woff2') format('woff2'),
         url('/.font/hangryhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silk_flower_demoregular';
    src: url('/.font/silkflowerdemo-regular-webfont.woff2') format('woff2'),
         url('/.font/silkflowerdemo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$primary-color: #ffc5c4;
$secondary-color: #fb8200;
$peachy: #fef6eb;
$funky-yellow: #ffb92b;
$sultry-red: #ba3c40;
$chic-pink: #f3a58f;
$true-blue: #43a3a2;

$primary-font: "hangry_handregular";
$secondary-font: "silk_flower_demoregular";

%main-txt {
    display: flex;
    position: relative;
    font-family: $secondary-font;
    color: $peachy;
    letter-spacing: 20%;
    font-weight: bold;
    font-size: 7.5vw;
    line-height: 1.15em;
    letter-spacing: 5px;
    animation: bounce;
    animation-duration: 3s;
    margin-bottom: auto;
    margin-top: -6.5em;
}

%cta-btn {
    width: 18em;
    height: 5em;
    position: relative;
    margin-top: -20vw;
    border: none;
    border-radius: 2.5em;
    background-color: $primary-color;
    font-family: $primary-font;
    transition: all 300ms ease-in;

    a {
        font-size: 2.5em;
        text-decoration: none;
        color: #fff;
    }

    &:hover {
        background-color: $secondary-color;
    }
}

%scrollNav {
    text-decoration: none;
    color: $primary-color;
    font-size: 30px;
    font-family: $primary-font;

        &:hover {
            color: $secondary-color;
        }
}

// MEDIA QUERY STARTS HERE
// 1080px query starts here
@media only screen and (max-width: 1080px) {
    %cta-btn-res {
        width: 15em;
        height: 4em;

        a {
            font-size: 2em;
        }
    }
}
// 1080px query ends here

// 768px query starts here
@media only screen and (max-width: 768px) {
    %cta-btn-res {
        width: 12em;
        height: 3em;

        a {
            font-size: 1.5em;
            letter-spacing: 0.25em;
        }
    }
}
// 768px query ends here

// 480px query starts here
@media only screen and (max-width: 480px) {
    %cta-btn-res {
        width: 9em;
        height: 2em;

        a {
            font-size: 1em;
            letter-spacing: 0.25em;
        }
    }
}
// 480px query ends here

// 320px query starts here
@media only screen and (max-width: 320px) {
    %cta-btn-res {
        width: 7em;
        height: 1.5em;

        a {
            font-size: 0.75em;
            letter-spacing: 0.25em;
        }
    }
}
// 320px query ends here
