@import "stylesheet/partials";
@font-face {
    font-family: 'hangry_handregular';
    src: url('/.font/hangryhand-regular-webfont.woff2') format('woff2'),
         url('/.font/hangryhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silk_flower_demoregular';
    src: url('/.font/silkflowerdemo-regular-webfont.woff2') format('woff2'),
         url('/.font/silkflowerdemo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$primary-font:'hangry_handregular';
$secondary-font:'silk_flower_demoregular';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //overflow: hidden;
}

// navbar - dan
.nav-bar {
    background-color: transparent;
    margin-left: 5em;
    //padding-right: 11em;
    //margin-right: ;
    width: 100vw;
    height: 50%;
    //padding-left: 5em;

    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: auto;

        .logo {
            width: 80px;
            cursor: pointer;
            margin-top: 10px;
            margin-bottom: 5px;
            //margin-left: 5em;
            justify-content: flex-start;
        }

        nav {
            text-align: right;
            justify-content: flex-end;
            margin-right: 7vw;

            .contact {
                //background-color: $secondary-color;
                border: 0.25em solid $secondary-color;
                border-radius: 2em;
                width: 9em;
                height: 3em;
                text-align: center;
                justify-content: center;
                //padding-top: .15em;
                transition: all 0.25s ease-in;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 30px;
                    font-family: $primary-font;
                }

                &:hover {
                    color: #fff;
                    background-color: $secondary-color;
                }
            }

            ul li {
                margin-top: 20px;
                list-style-type: none;
                display: inline-block;
                margin-right: 50px;

                .nav-a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 30px;
                    font-family: $primary-font;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}

// social media icons

.social {
    margin-top: auto;
    position: sticky;
    margin-bottom: 0;
    width: 5%;
    //z-index: 2;

    li,
    a,
    i {
        border: none;
        background-color: transparent;
        color: $peachy;
        margin-left: 1.3em;
        padding-top: 1em;
        list-style: none;
        position: relative;
        //z-index: 2;
        transition: all 0.2s ease-in-out;
        text-decoration: none;

        &:hover {
            //color: $primary-color;
            background: linear-gradient(135deg, $primary-color, $sultry-red);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            //transform: scale(.98);
            transform: translateY(-5px);
        }
    }

    .vl {
        border-left: 2px solid $peachy;
        height: 150px;
        margin-left: 5.75em;
        padding-top: 20px;
        margin-top: 40px;
        position: relative;
        //z-index: 2;
        transition: none;

        &:hover {
            transform: none;
        }
    }
}

.home-gif {
    margin-bottom: 0px;
    padding-bottom: -10px;
}

.home-soc-landing {
    .bg-pic {
        position: relative;
        // z-index: 1;
        width: 100%;
        margin-top: -0.5em;
    }

    .main-txt {
        display: flex;
        position: relative;
        //margin-right: -10%;
        //margin-left: 1200px;
        //margin-top: -900px;
        font-family: $secondary-font;
        color: $peachy;
        //line-height: 0.95em;
        letter-spacing: 20%;
        font-weight: bold;
        font-size: 7.5vw;
        line-height: 1.15em;
        letter-spacing: 5px;
        // z-index: 2;
        animation: bounce;
        animation-duration: 3s;
        //overflow: hidden;
        margin-bottom: auto;
        margin-top: -6.5em;
        text-transform: uppercase;
        padding-left: 10%;
        padding-right: 10%;
        animation: bounce;
        animation-duration: 3s;

        ul {
            list-style: none;
            margin-top: 1.35em;
        }

        .txt1 {
            margin-left: 0.35em;
        }

        .txt2 {
            align-items: right;
            float: right;
            margin-top: 0.35em;
            margin-left: 0.35em;
        }

        .txt3 {
            margin-top: 0.35em;
            margin-left: 1.75em;
        }
    }
}

#lokal-landing {
    //height: 100vh;
    //background-color: $primary-color;

    .lokal-panel {
        padding-top: 19em;
        padding-bottom: 5em;

        .title {
            text-align: center;
            color: $secondary-color;
            font-size: 10em;
            font-family: $primary-font;
        }

        .pictures {
            margin-top: 3em;
            margin-left: 3em;

            ul,
            li {
                list-style: none;
                margin-bottom: 2em;
            }

            .polaroid1 {
                margin-top: -1em;
            }

            .polaroid3 {
                margin-top: -2em;
            }
        }
    }
}

// FOOTER STARTS HERE
.footer {
    padding-bottom: 7.25em;
    padding-top: 12em;
    animation: fadeIn;
    animation-duration: 3s;
    background-color: $primary-color;

    .footer-con {
        text-align: center;

        h1 {
            color: $true-blue;
            font-family: $primary-font;
            font-size: 10em;
            height: 1.25em;
            padding-left: 5%;
            padding-right: 5%;
        }

        p {
            color: #fff;
            font-family: $primary-font;
            font-size: 2.5em;
        }

        .cta-btn {
            width: 18em;
            height: 5em;
            position: relative;
            background-color: $secondary-color;
            margin-top: 3vw;
            border: none;
            border-radius: 2.5em;
            font-family: $primary-font;
            transition: all 300ms ease-in;

            a {
                font-size: 2.5em;
                text-decoration: none;
                color: #fff;
            }

            &:hover {
                background-color: rgba(251, 130, 0, 0.8);
            }
        }
    }
}

// MEDIA QUERY STARTS HERE
// 1400px query starts here
@media only screen and (max-width: 1400px) {
    #lokal-landing {
        .lokal-panel {
            .title {
                font-size: 8.5em;
                font-family: $primary-font;
            }

            .pictures {
                margin-left: 1em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 25em;
                        height: 23em;
                        margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        position: relative;
                        object-fit: contain;
                        width: 25em;
                        height: 23em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 25em;
                        height: 23em;
                    }
                }
            }
        }
    }

    .footer {
        padding-left: 1.5em;
        padding-right: 1.5em;

        .footer-con {
            p {
                color: #fff;
                font-family: $primary-font;
                font-size: 2.25em;
            }
        }
    }
}

//1200px starts here
@media only screen and (max-width: 1200px) {
    #lokal-landing {
        .lokal-panel {
            padding-top: 19em;

            .title {
                font-size: 6.5em;
                font-family: $primary-font;
            }

            .pictures {
                margin-left: -1em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 23em;
                        height: 21em;
                        margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 23em;
                        height: 21em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 23em;
                        height: 21em;
                    }
                }
            }
        }
    }
}

//995px starts here
@media only screen and (max-width: 995px) {
    #lokal-landing {
        .lokal-panel {
            padding-top: 16em;

            .title {
                font-size: 6.25em;
                font-family: $primary-font;
                //color: red;
            }

            .pictures {
                margin-left: -15em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 23em;
                        height: 21em;
                        margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 23em;
                        height: 21em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 23em;
                        height: 21em;
                    }
                }
            }
        }
    }
}

// 955px query starts here
@media only screen and (max-width: 955px) {
    .nav-bar {
        margin-left: 1em;

        nav {
            display: none;
        }

        .navbar {
            .logo {
                width: 55px;
                //margin-left: -5em;
            }
        }
    }

    .social {
        display: none;
    }

    .home-soc-landing{
        .main-txt{
            padding-left: 3%;
        }
    }

    #lokal-landing {
        .lokal-panel {
            padding-top: 16em;
            padding-bottom: 0em;

            .title {
                font-size: 6.25em;
                font-family: $primary-font;
                //color: red;
            }

            .pictures {
                margin-left: -5em;
                margin-top: 5em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 20em;
                        height: 18em;
                        margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 20em;
                        height: 18em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 20em;
                        height: 18em;
                    }
                }
            }
        }
    }
}
// 955px query ends here

// 825px query starts here
@media only screen and (max-width: 955px) {

    #lokal-landing {
        .lokal-panel {
            padding-top: 16em;
            padding-bottom: 0em;

            .title {
                font-size: 6.25em;
                font-family: $primary-font;
                //color: red;
            }

            .pictures {
                margin-left: -1em;
                margin-top: 5em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 18em;
                        height: 16em;
                        //margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 18em;
                        height: 16em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 18em;
                        height: 16em;
                    }
                }
            }
        }
    }
}

// 810px query starts here
@media only screen and (max-width: 810px) {
    .footer {
        padding-left: 1.5em;
        padding-right: 1.5em;

        .footer-con {
            h1 {
                // height: 2em;
                font-size: 8.5em;
                height: 1.25em;
            }

            p {
                font-size: 2.25em;
            }

            .cta-btn {
                width: 17em;
                height: 4.5em;

                a {
                    font-size: 2em;
                    text-decoration: none;
                    color: #fff;
                }

                &:hover {
                    background-color: rgba(251, 130, 0, 0.8);
                }
            }
        }
    }
}
// 810px query ends here

// 768px query starts here
@media only screen and (max-width: 768px) {
    #lokal-landing {
        .lokal-panel {
            padding-top: 16em;
            padding-bottom: 0em;

            .title {
                font-size: 6.25em;
                font-family: $primary-font;
                //color: red;
            }

            .pictures {
                margin-left: -12em;
                margin-top: 5em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 18em;
                        height: 16em;
                        margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 18em;
                        height: 16em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 18em;
                        height: 16em;
                    }
                }
            }
        }
    }
}

// 680px query starts here
@media only screen and (max-width: 680px) {
    .footer {
        .footer-con {
            h1 {
                //height: 5em;
                font-size: 8em;
                height: 1.25em;
            }

            p {
                color: #fff;
                font-family: $primary-font;
                font-size: 2em;
                line-height: 1.15em;
            }
        }
    }
}

// 645px query starts here
@media only screen and (max-width: 645px) {
    #lokal-landing {
        .lokal-panel {
            padding-top: 16em;
            padding-bottom: 0em;

            .title {
                font-size: 6.25em;
                font-family: $primary-font;
                //color: red;
            }

            .pictures {
                margin-left: -3.5em;
                margin-top: 5em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 15em;
                        height: 13em;
                        margin-right: -4em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 15em;
                        height: 13em;
                        margin-right: -4em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 15em;
                        height: 13em;
                    }
                }
            }
        }
    }

    .footer {
        .footer-con {
            h1 {
                //height: 5em;
                font-size: 7em;
                height: 1.25em;
            }

            p {
                color: #fff;
                font-family: $primary-font;
                font-size: 1.75em;
                line-height: 1.15em;
            }
        }
    }
}

// 570px query starts here
@media only screen and (max-width: 570px) {
    #lokal-landing {
        .lokal-panel {
            padding-top: 10em;
            //margin-bottom: -8em;

            .title {
                font-size: 4.5em;
                font-family: $primary-font;
                //color: red;
            }

            .pictures {
                margin-left: -1em;
                margin-top: 5em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 13em;
                        height: 11em;
                        margin-right: -3em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 13em;
                        height: 11em;
                        margin-right: -3em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 13em;
                        height: 11em;
                    }
                }
            }
        }
    }

    .footer {
        .footer-con {
            h1 {
                font-size: 6em;
                height: 1.25em;
            }

            p {
                color: #fff;
                font-family: $primary-font;
                font-size: 1.75em;
                line-height: 1.15em;
            }

            .cta-btn {
                width: 16em;
                height: 4em;

                a {
                    font-size: 2em;
                    text-decoration: none;
                    color: #fff;
                }

                &:hover {
                    background-color: rgba(251, 130, 0, 0.8);
                }
            }
        }
    }
}

// 495px query starts here
@media only screen and (max-width: 495px) {
    #lokal-landing {
        .lokal-panel {
            padding-top: 10em;
            //margin-bottom: -8em;

            .title {
                font-size: 4.5em;
                font-family: $primary-font;
                //color: red;
            }

            .pictures {
                margin-left: -1em;
                margin-top: 5em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 12em;
                        height: 10em;
                        margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 12em;
                        height: 10em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 12em;
                        height: 10em;
                    }
                }
            }
        }
    }

    .footer {
        .footer-con {
            h1 {
                font-size: 5em;
                height: 1.25em;
            }

            p {
                color: #fff;
                font-family: $primary-font;
                font-size: 1.5em;
                line-height: 1.15em;
            }

            .cta-btn {
                width: 15em;
                height: 3.75em;

                a {
                    font-size: 1.85em;
                    text-decoration: none;
                    color: #fff;
                }

                &:hover {
                    background-color: rgba(251, 130, 0, 0.8);
                }
            }
        }
    }
}

// 425px query starts here
@media only screen and (max-width: 425px) {
    #lokal-landing {
        .lokal-panel {
            padding-top: 10em;
            //margin-bottom: -8em;

            .title {
                font-size: 3em;
                font-family: $primary-font;
                //color: red;
            }

            .pictures {
                margin-left: -1em;
                margin-top: 5em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 10em;
                        height: 8em;
                        margin-right: -3em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 10em;
                        height: 8em;
                        margin-right: -3em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 10em;
                        height: 8em;
                    }
                }
            }
        }
    }

    .footer {
        margin-top: -10em;
        padding-top: 5em;
        
        .footer-con {
            h1 {
                font-size: 3.5em;
                height: 1.25em;
            }

            p {
                color: #fff;
                font-family: $primary-font;
                font-size: 1em;
                line-height: 1.15em;
            }

            .cta-btn {
                width: 10em;
                height: 2.5em;

                a {
                    font-size: 1.15em;
                    text-decoration: none;
                    color: #fff;
                }

                &:hover {
                    background-color: rgba(251, 130, 0, 0.8);
                }
            }
        }
    }
}
// 425px ends here

// 320px query starts here
@media only screen and (max-width: 320px) {
.nav-bar{
    .navbar{
        .logo{
            width: 35px;
            margin-left: -.95em;
            margin-top: 0em;
        }
    }
}

    .home-soc-landing{
        .main-txt{
            padding-left: 0;

            .txt1 {
                margin-left: 0;
            }

            .txt2{
                margin-left: 0;
            }
        }
    }

    #lokal-landing {
        .lokal-panel {
            padding-top: 5em;
            padding-bottom: -5em;

            .title {
                font-size: 2em;
                font-family: $primary-font;
                //color: red;
            }

            .pictures {
                margin-left: -1em;
                margin-top: 3em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 8em;
                        height: 6em;
                        margin-right: -3em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 8em;
                        height: 6em;
                        margin-right: -3em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 8em;
                        height: 6em;
                    }
                }
            }
        }
    }

    .footer {
        margin-top: -10em;
        padding-top: 5em;

        .footer-con {
            h1 {
                font-size: 3em;
                height: 1.25em;
            }
        }
    }
}


