@import "stylesheet/partials";
@font-face {
    font-family: 'hangry_handregular';
    src: url('/.font/hangryhand-regular-webfont.woff2') format('woff2'),
         url('/.font/hangryhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silk_flower_demoregular';
    src: url('/.font/silkflowerdemo-regular-webfont.woff2') format('woff2'),
         url('/.font/silkflowerdemo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$primary-font:'hangry_handregular';
$secondary-font:'silk_flower_demoregular';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

// navbar - dan
.nav-bar {
    background-color: transparent;
    margin-left: 5em;
    width: 100vw;
    height: 50%;

    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: auto;

        .logo {
            width: 80px;
            cursor: pointer;
            margin-top: 10px;
            margin-bottom: 5px;
            //margin-left: 5em;
            justify-content: flex-start;
        }

        nav {
            text-align: right;
            justify-content: flex-end;
            margin-right: 7vw;

            .contact {
                border: 0.25em solid $secondary-color;
                border-radius: 2em;
                width: 9em;
                height: 3em;
                text-align: center;
                justify-content: center;
                //padding-top: .15em;
                transition: all 0.25s ease-in;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 30px;
                    font-family: $primary-font;
                }

                &:hover {
                    color: #fff;
                    background-color: $secondary-color;
                }
            }

            ul li {
                margin-top: 20px;
                list-style-type: none;
                display: inline-block;
                margin-right: 50px;

                .nav-a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 30px;
                    font-family: $primary-font;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}

// social media icons

.social {
    margin-top: auto;
    position: sticky;
    margin-bottom: 0;
    width: 5%;
    //z-index: 2;

    li,
    a,
    i {
        border: none;
        background-color: transparent;
        color: $peachy;
        margin-left: 1.3em;
        padding-top: 1em;
        list-style: none;
        position: relative;
        transition: all 0.2s ease-in-out;
        text-decoration: none;

        &:hover {
            background: linear-gradient(135deg, $primary-color, $sultry-red);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            //transform: scale(.98);
            transform: translateY(-5px);
        }
    }

    .vl {
        border-left: 2px solid $peachy;
        height: 150px;
        margin-left: 5.75em;
        padding-top: 20px;
        margin-top: 40px;
        position: relative;
        //z-index: 2;
        transition: none;

        &:hover {
            transform: none;
        }
    }
}

#lokal-landing {
    //height: 100vh;

    .lokal-panel {
        margin-top: 10em;
        margin-bottom: 5em;

        .title {
            text-align: center;
            color: $secondary-color;
            font-size: 10em;
            font-family: $primary-font;
        }

        .pictures {
            margin-top: 2em;
            margin-left: 3em;

            ul,
            li {
                list-style: none;
                margin-bottom: 2em;
            }

            .polaroid1 {
                margin-top: -1em;
            }

            .polaroid3 {
                margin-top: -2em;
            }
        }
    }
}

.lokal-ad-gif {
    width: 100%;
    //overflow-x: hidden;
    position: relative;
}

// main content starts here
#lokal-content {
    justify-content: center;

    .itinerary {
        padding-top: 8em;

        .accomodation {
            animation: fadeIn;
            animation-duration: 2s;
            //animation-delay: ease;

            .lokal-txt {
                @extend %lokal-txt;
                font-family: $primary-font;
                margin-left: -20%;
                margin-top: -1em;
            }
        }

        .food-reco {
            margin-top: 8%;
            animation: fadeIn;
            animation-duration: 2s;

            .food-pic {
                float: right;
            }

            .lokal-txt {
                @extend %lokal-txt;
                font-family: $primary-font;
                margin-right: -20%;
                text-align: right;
            }
        }

        .siargao-adv {
            margin-top: 20%;

            h1 {
                color: $true-blue;
                font-family: $primary-font;
                font-size: 8em;
                text-align: center;
            }

            .adventure1 {
                margin-top: 10%;
                animation: fadeIn;
                animation-duration: 2s;

                .lokal-txt {
                    @extend %lokal-txt;
                    font-family: $primary-font;
                    margin-left: -20%;
                    margin-top: -1em;
                }
            }

            .adventure2 {
                margin-top: 8%;
                animation: fadeIn;
                animation-duration: 2s;

                .adventure-pic {
                    float: right;
                }

                .lokal-txt {
                    @extend %lokal-txt;
                    font-family: $primary-font;
                    margin-right: -20%;
                    text-align: right;
                }
            }

            .adventure3 {
                margin-top: 8%;
                animation: fadeIn;
                animation-duration: 2s;

                .lokal-txt {
                    @extend %lokal-txt;
                    font-family: $primary-font;
                    margin-left: -20%;
                    margin-top: -1em;
                }
            }
        }
    }
}

// FOOTER STARTS HERE
.footer {
    padding-bottom: 7.25em;
    padding-top: 12em;
    animation: fadeIn;
    animation-duration: 3s;
    //background-color: $primary-color;

    .footer-con {
        text-align: center;

        h1 {
            color: $true-blue;
            font-family: $primary-font;
            font-size: 10em;
            justify-content: center;
            align-content: center;
            height: 1.25em;
        }

        p {
            color: #fff;
            font-family: $primary-font;
            font-size: 2.5em;
        }

        .cta-btn {
            @extend %cta-btn;
            background-color: $secondary-color;
            margin-top: 3vw;

            a {
                font-size: 2.5em;
                font-family: $primary-font;
                text-decoration: none;
                color: #fff;
            }

            &:hover {
                background-color: rgba(251, 130, 0, 0.8);
            }
        }
    }
}

// MEDIA QUERY STARTS HERE
// 1400px query starts here
@media only screen and (max-width: 1400px) {
    #lokal-landing {
        .lokal-panel {
            .title {
                font-size: 8.5em;
                font-family: $primary-font;
            }

            .picture {
                //margin-left: 1em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 25em;
                        height: 23em;
                        margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        position: relative;
                        object-fit: contain;
                        width: 25em;
                        height: 23em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 25em;
                        height: 23em;
                    }
                }
            }
        }
    }

    .footer {
        padding-left: 1.5em;
        padding-right: 1.5em;

        .footer-con {
            p {
                color: #fff;
                font-family: $primary-font;
                font-size: 2.25em;
            }
        }
    }
}

//1200px starts here
@media only screen and (max-width: 1200px) {
    .nav-bar {
        margin-left: 1em;

        nav {
            display: none;
        }

        .navbar {
            .logo {
                width: 55px;
                //margin-left: -5em;
            }
        }
    }

    .social {
        display: none;
    }

    #lokal-landing {
        .lokal-panel {
            //padding-top: 19em;

            .title {
                font-size: 6.5em;
                font-family: $primary-font;
            }

            .picture {
                margin-left: -4em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 23em;
                        height: 21em;
                        margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 23em;
                        height: 21em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 23em;
                        height: 21em;
                    }
                }
            }
        }
    }

    #lokal-content {
        .itinerary {
            .accomodation {
                #pic1 {
                    object-fit: contain;
                    width: 25em;
                    height: 25em;
                    margin-right: 2%;
                }
                .lokal-txt {
                    margin-left: -20%;

                    h2 {
                        font-size: 3em;
                    }
                    p {
                        font-size: 2em;
                    }
                }
            }

            .food-reco {
                #pic2 {
                    object-fit: contain;
                    width: 25em;
                    height: 25em;
                    margin-left: 2%;
                }
                .lokal-txt {
                    margin-right: -20%;
                    margin-top: -1%;

                    h2 {
                        font-size: 3em;
                    }
                    p {
                        font-size: 2em;
                    }
                }
            }

            .siargao-adv {
                h1 {
                    font-size: 6em;
                }

                .adventure1 {
                    .adventure-pic {
                        object-fit: contain;
                        width: 25em;
                        height: 25em;
                        margin-right: 2%;
                    }
                    .lokal-txt {
                        margin-left: -20%;
                        margin-top: 0em;

                        h2 {
                            font-size: 3em;
                        }
                        p {
                            font-size: 2em;
                        }
                    }
                }

                .adventure2 {
                    .adventure-pic {
                        object-fit: contain;
                        width: 25em;
                        height: 25em;
                        margin-left: 2%;
                    }
                    .lokal-txt {
                        margin-right: -20%;
                        margin-top: -1%;

                        h2 {
                            font-size: 3em;
                        }
                        p {
                            font-size: 2em;
                        }
                    }
                }

                .adventure3 {
                    .adventure-pic {
                        object-fit: contain;
                        width: 25em;
                        height: 25em;
                        margin-right: 2%;
                    }
                    .lokal-txt {
                        margin-left: -20%;
                        margin-top: 0em;

                        h2 {
                            font-size: 3em;
                        }
                        p {
                            font-size: 2em;
                        }
                    }
                }
            }
        }
    }
}

//995px starts here
@media only screen and (max-width: 995px) {
    #lokal-landing {
        .lokal-panel {
            //padding-top: 16em;

            .title {
                font-size: 6.25em;
                font-family: $primary-font;
                //color: red;
            }

            .picture {
                margin-left: -13em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 23em;
                        height: 21em;
                        margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 23em;
                        height: 21em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 23em;
                        height: 21em;
                    }
                }
            }
        }
    }

    #lokal-content {
        .itinerary {
            .accomodation {
                #pic1 {
                    object-fit: contain;
                    width: 25em;
                    height: 25em;
                    margin-left: -5em;
                }
                .lokal-txt {
                    margin-left: -10%;
                    //width: 35em;

                    h2 {
                        font-size: 3em;
                    }
                    p {
                        font-size: 1.65em;
                        //width: 20em;
                    }
                }
            }

            .food-reco {
                #pic2 {
                    object-fit: contain;
                    width: 25em;
                    height: 25em;
                    margin-left: 2%;
                    margin-right: -5em;
                }
                .lokal-txt {
                    margin-right: -10%;
                    padding-right: 5em;
                    margin-top: -2%;

                    h2 {
                        font-size: 3em;
                    }
                    p {
                        font-size: 1.65em;
                        width: 110%;
                    }
                }
            }

            .siargao-adv {
                h1 {
                    font-size: 6em;
                }

                .adventure1 {
                    .adventure-pic {
                        object-fit: contain;
                        width: 25em;
                        height: 25em;
                        margin-left: -5em;
                    }
                    .lokal-txt {
                        margin-left: -10%;
                        //width: 35em;

                        h2 {
                            font-size: 3em;
                        }
                        p {
                            font-size: 1.65em;
                            //width: 20em;
                        }
                    }
                }

                .adventure2 {
                    margin-top: 5em;
                    .adventure-pic {
                        object-fit: contain;
                        width: 25em;
                        height: 25em;
                        margin-left: 2%;
                        margin-right: -5em;
                    }
                    .lokal-txt {
                        margin-right: -10%;
                        padding-right: 5em;
                        margin-top: -2%;

                        h2 {
                            font-size: 3em;
                        }
                        p {
                            font-size: 1.65em;
                            width: 110%;
                        }
                    }
                }

                .adventure3 {
                    margin-top: 5em;
                    .adventure-pic {
                        object-fit: contain;
                        width: 25em;
                        height: 25em;
                        margin-left: -5em;
                    }
                    .lokal-txt {
                        margin-left: -10%;
                        //width: 35em;

                        h2 {
                            font-size: 3em;
                        }
                        p {
                            font-size: 1.65em;
                            //width: 20em;
                        }
                    }
                }
            }
        }
    }
}

// 955px query starts here
@media only screen and (max-width: 955px) {
    // .nav-bar {
    //     margin-left: 1em;

    //     nav {
    //         display: none;
    //     }

    //     .navbar {
    //         .logo {
    //             width: 55px;
    //             //margin-left: -5em;
    //         }
    //     }
    // }

    #lokal-landing {
        .lokal-panel {
            // padding-top: 16em;
            padding-bottom: 0em;

            .title {
                font-size: 6.25em;
                margin-bottom: 0.5em;
                font-family: $primary-font;
                //color: red;
            }

            .picture {
                margin-left: -8em;
                // margin-top: 5em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 20em;
                        height: 18em;
                        margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 20em;
                        height: 18em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 20em;
                        height: 18em;
                    }
                }
            }
        }
    }
}
// 955px query ends here


// 810px query starts here
@media only screen and (max-width: 810px) {
    #lokal-landing {
        .lokal-panel {
            padding-bottom: 0em;

            .title {
                font-size: 6.25em;
                font-family: $primary-font;
            }

            .pictures {
                margin-left: 5em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 18em;
                        height: 16em;
                        //margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 18em;
                        height: 16em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 18em;
                        height: 16em;
                    }
                }
            }
        }
    }

    .footer {
        padding-left: 1.5em;
        padding-right: 1.5em;

        .footer-con {
            h1 {
                // height: 2em;
                font-size: 8.5em;
                height: 1.25em;
            }

            p {
                font-size: 2.25em;
            }

            .cta-btn {
                width: 17em;
                height: 4.5em;

                a {
                    font-size: 2em;
                    text-decoration: none;
                    color: #fff;
                }

                &:hover {
                    background-color: rgba(251, 130, 0, 0.8);
                }
            }
        }
    }
}
// 810px query ends here

// 768px query starts here
@media only screen and (max-width: 768px) {
    #lokal-landing {
        .lokal-panel {
            // padding-top: 16em;
            padding-bottom: 0em;

            .title {
                font-size: 6.25em;
                font-family: $primary-font;
                //color: red;
            }

            .picture {
                margin-left: -13em;
                //margin-top: 5em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 18em;
                        height: 16em;
                        margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 18em;
                        height: 16em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 18em;
                        height: 16em;
                    }
                }
            }
        }
    }
}

// 680px query starts here
@media only screen and (max-width: 680px) {
    #lokal-landing {
        .lokal-panel {
            //padding-top: 16em;
            padding-bottom: 0em;

            .title {
                font-size: 5.75em;
                font-family: $primary-font;
                //color: red;
            }

            .picture {
                margin-left: -9em;
                margin-top: 5em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 15em;
                        height: 13em;
                        margin-right: -4em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 15em;
                        height: 13em;
                        margin-right: -4em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 15em;
                        height: 13em;
                    }
                }
            }
        }
    }

    #lokal-content {
        .itinerary {
            .accomodation {
                #pic1 {
                    object-fit: contain;
                    width: 20em;
                    height: 20em;
                    margin-left: 7em;
                }
                .lokal-txt {
                    margin-left: 3%;
                    margin-top: 1.25em;
                    text-align: center;
                    //width: 35em;

                    h2 {
                        font-size: 2.5em;
                        margin-left: 0.5em;
                    }
                    p {
                        font-size: 1.25em;
                        width: 20em;
                        margin-left: 2.25em;
                    }
                }
            }

            .food-reco {
                #pic2 {
                    object-fit: contain;
                    width: 20em;
                    height: 20em;
                    //margin-right: 2%;
                    margin-right: 5em;
                    position: relative;
                    margin-top: -39em;
                }
                .lokal-txt {
                    margin-left: 3%;
                    padding-top: 25em;
                    text-align: center;
                    //width: 35em;

                    h2 {
                        font-size: 2.5em;
                        margin-left: 2em;
                    }
                    p {
                        font-size: 1.25em;
                        width: 20em;
                        margin-left: 3em;
                    }
                }
            }

            .siargao-adv {
                h1 {
                    font-size: 3.5em;
                }

                .adventure1 {
                    .adventure-pic {
                        object-fit: contain;
                        width: 20em;
                        height: 20em;
                        margin-left: 7em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        margin-top: 1.25em;
                        text-align: center;
                        //width: 35em;

                        h2 {
                            font-size: 2.5em;
                            margin-left: 0.5em;
                        }
                        p {
                            font-size: 1.25em;
                            width: 20em;
                            margin-left: 2.25em;
                        }
                    }
                }

                .adventure2 {
                    margin-top: 5em;
                    .adventure-pic {
                        object-fit: contain;
                        width: 20em;
                        height: 20em;
                        margin-top: -37em;
                        margin-right: 5em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        //margin-top: 1.25em;
                        text-align: center;
                        padding-top: 23em;
                        //width: 35em;

                        h2 {
                            font-size: 2.5em;
                            margin-left: 2em;
                        }
                        p {
                            font-size: 1.25em;
                            width: 20em;
                            margin-left: 3em;
                        }
                    }
                }

                .adventure3 {
                    margin-top: 5em;
                    .adventure-pic {
                        object-fit: contain;
                        width: 20em;
                        height: 20em;
                        margin-left: 7em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        margin-top: 1.25em;
                        text-align: center;
                        //width: 35em;

                        h2 {
                            font-size: 2.5em;
                            margin-left: 0.5em;
                        }
                        p {
                            font-size: 1.25em;
                            width: 20em;
                            margin-left: 2.25em;
                        }
                    }
                }
            }
        }
    }

    .footer {
        .footer-con {
            h1 {
                font-size: 8em;
                height: 1.25em;
            }

            p {
                color: #fff;
                font-family: $primary-font;
                font-size: 2em;
                line-height: 1.15em;
            }
        }
    }
}

// 645px query starts here
@media only screen and (max-width: 645px) {
    .footer {
        .footer-con {
            h1 {
                //height: 5em;
                font-size: 7em;
                height: 1.25em;
            }

            p {
                color: #fff;
                font-family: $primary-font;
                font-size: 1.75em;
                line-height: 1.15em;
            }
        }
    }
}

// 570px query starts here
@media only screen and (max-width: 570px) {
    #lokal-landing {
        .lokal-panel {
            .title {
                font-size: 4.5em;
                font-family: $primary-font;
            }

            .picture {
                margin-left: -7em;
                margin-top: 5em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 13em;
                        height: 11em;
                        margin-right: -3em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 13em;
                        height: 11em;
                        margin-right: -3em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 13em;
                        height: 11em;
                    }
                }
            }
        }
    }

    #lokal-content {
        .itinerary {
            .accomodation {
                #pic1 {
                    object-fit: contain;
                    width: 18em;
                    height: 18em;
                    margin-left: 7em;
                }
                .lokal-txt {
                    margin-left: 3%;
                    margin-top: 1.25em;
                    text-align: center;
                    //width: 35em;

                    h2 {
                        font-size: 2.5em;
                        margin-left: -0.5em;
                    }
                    p {
                        font-size: 1.25em;
                        width: 18em;
                        margin-left: 3em;
                    }
                }
            }

            .food-reco {
                #pic2 {
                    object-fit: contain;
                    width: 18em;
                    height: 18em;
                    //margin-right: 2%;
                    margin-right: 7em;
                    position: relative;
                    margin-top: -39em;
                }
                .lokal-txt {
                    margin-left: 3%;
                    padding-top: 25em;
                    text-align: center;
                    //width: 35em;

                    h2 {
                        font-size: 2.5em;
                        margin-left: 1em;
                    }
                    p {
                        font-size: 1.25em;
                        width: 18em;
                        margin-left: 3em;
                    }
                }
            }

            .siargao-adv {
                h1 {
                    font-size: 3em;
                }

                .adventure1 {
                    .adventure-pic {
                        object-fit: contain;
                        width: 18em;
                        height: 18em;
                        margin-left: 7.5em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        margin-top: 1.25em;
                        text-align: center;
                        //width: 35em;

                        h2 {
                            font-size: 2.5em;
                            margin-left: 0em;
                        }
                        p {
                            font-size: 1.25em;
                            width: 18em;
                            margin-left: 3em;
                        }
                    }
                }

                .adventure2 {
                    margin-top: 5em;
                    .adventure-pic {
                        object-fit: contain;
                        width: 18em;
                        height: 18em;
                        margin-top: -37em;
                        margin-right: 6em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        //margin-top: 1.25em;
                        text-align: center;
                        padding-top: 23em;
                        //width: 35em;

                        h2 {
                            font-size: 2.5em;
                            margin-left: 1.25em;
                        }
                        p {
                            font-size: 1.25em;
                            width: 18em;
                            margin-left: 3.25em;
                        }
                    }
                }

                .adventure3 {
                    margin-top: 5em;
                    .adventure-pic {
                        object-fit: contain;
                        width: 18em;
                        height: 18em;
                        margin-left: 8em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        margin-top: 1.25em;
                        text-align: center;

                        h2 {
                            font-size: 2.5em;
                            margin-left: 0.25em;
                        }
                        p {
                            font-size: 1.25em;
                            width: 18em;
                            margin-left: 3.25em;
                        }
                    }
                }
            }
        }
    }

    .footer {
        .footer-con {
            h1 {
                font-size: 6em;
                height: 1.25em;
            }

            p {
                color: #fff;
                font-family: $primary-font;
                font-size: 1.75em;
                line-height: 1.15em;
            }

            .cta-btn {
                width: 16em;
                height: 4em;

                a {
                    font-size: 2em;
                    text-decoration: none;
                    color: #fff;
                }

                &:hover {
                    background-color: rgba(251, 130, 0, 0.8);
                }
            }
        }
    }
}

// 495px query starts here
@media only screen and (max-width: 495px) {
    #lokal-landing {
        .lokal-panel {

            .title {
                font-size: 4.5em;
                font-family: $primary-font;
                //color: red;
            }

            .picture {
                margin-left: -7.75em;
                margin-top: 5em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 12em;
                        height: 10em;
                        margin-right: -5em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 12em;
                        height: 10em;
                        margin-right: -5em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 12em;
                        height: 10em;
                    }
                }
            }
        }
    }

    #lokal-content {
        .itinerary {
            .accomodation {
                #pic1 {
                    object-fit: contain;
                    width: 18em;
                    height: 18em;
                    margin-left: 5em;
                }
                .lokal-txt {
                    margin-left: 3%;
                    margin-top: 1.25em;
                    text-align: center;
                    //width: 35em;

                    h2 {
                        font-size: 2.5em;
                        margin-left: -0.25em;
                    }
                    p {
                        font-size: 1.25em;
                        width: 18em;
                        margin-left: 1.5em;
                    }
                }
            }

            .food-reco {
                #pic2 {
                    object-fit: contain;
                    width: 18em;
                    height: 18em;
                    //margin-right: 2%;
                    margin-right: 4.25em;
                    position: relative;
                    margin-top: -39em;
                }
                .lokal-txt {
                    margin-left: 3%;
                    padding-top: 25em;
                    text-align: center;
                    //width: 35em;

                    h2 {
                        font-size: 2.5em;
                        margin-left: 1.25em;
                    }
                    p {
                        font-size: 1.25em;
                        width: 17em;
                        margin-left: 2em;
                    }
                }
            }

            .siargao-adv {
                h1 {
                    font-size: 3em;
                }

                .adventure1 {
                    .adventure-pic {
                        object-fit: contain;
                        width: 18em;
                        height: 18em;
                        margin-left: 5em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        margin-top: 1.25em;
                        text-align: center;
                        //width: 35em;

                        h2 {
                            font-size: 2.5em;
                            margin-left: 0em;
                        }
                        p {
                            font-size: 1.25em;
                            width: 17em;
                            margin-left: 2em;
                        }
                    }
                }

                .adventure2 {
                    margin-top: 5em;
                    .adventure-pic {
                        object-fit: contain;
                        width: 18em;
                        height: 18em;
                        margin-top: -37em;
                        margin-right: 4.5em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        //margin-top: 1.25em;
                        text-align: center;
                        padding-top: 23em;
                        //width: 35em;

                        h2 {
                            font-size: 2.5em;
                            margin-left: 1.25em;
                        }
                        p {
                            font-size: 1.25em;
                            width: 17em;
                            margin-left: 1.75em;
                        }
                    }
                }

                .adventure3 {
                    margin-top: 5em;
                    .adventure-pic {
                        object-fit: contain;
                        width: 18em;
                        height: 18em;
                        margin-left: 5em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        margin-top: 1.25em;
                        text-align: center;
                        //width: 35em;

                        h2 {
                            font-size: 2.5em;
                            margin-left: 0em;
                        }
                        p {
                            font-size: 1.25em;
                            width: 17em;
                            margin-left: 1.75em;
                        }
                    }
                }
            }
        }
    }

    .footer {
        margin-bottom: 3em;
        .footer-con {
            h1 {
                font-size: 5em;
                height: 1.25em;
            }

            p {
                color: #fff;
                font-family: $primary-font;
                font-size: 1.5em;
                line-height: 1.15em;
            }

            .cta-btn {
                width: 15em;
                height: 3.75em;

                a {
                    font-size: 1.85em;
                    text-decoration: none;
                    color: #fff;
                }

                &:hover {
                    background-color: rgba(251, 130, 0, 0.8);
                }
            }
        }
    }
}

// 425px query starts here
@media only screen and (max-width: 425px) {
    #lokal-landing {
        .lokal-panel {

            .title {
                font-size: 3em;
                font-family: $primary-font;
            }

            .pictures {
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 10em;
                        height: 8em;
                        margin-right: -3em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 10em;
                        height: 8em;
                        margin-right: -3em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 10em;
                        height: 8em;
                    }
                }
            }
        }
    }

    #lokal-content {
        .itinerary {
            .accomodation {
                #pic1 {
                    object-fit: contain;
                    width: 17em;
                    height: 17em;
                    margin-left: 4em;
                }
                .lokal-txt {
                    margin-left: 3%;
                    margin-top: 1.25em;
                    text-align: center;
                    //width: 35em;

                    h2 {
                        font-size: 2.5em;
                        margin-left: -0.25em;
                    }
                    p {
                        font-size: 1.25em;
                        width: 16em;
                        margin-left: 1.5em;
                    }
                }
            }

            .food-reco {
                #pic2 {
                    object-fit: contain;
                    width: 17em;
                    height: 17em;
                    //margin-right: 2%;
                    margin-right: 4em;
                    position: relative;
                    margin-top: -39em;
                }
                .lokal-txt {
                    margin-left: 3%;
                    padding-top: 25em;
                    text-align: center;
                    //width: 35em;

                    h2 {
                        font-size: 2.5em;
                        margin-left: 1.25em;
                    }
                    p {
                        font-size: 1.25em;
                        width: 16em;
                        margin-left: 1.5em;
                    }
                }
            }

            .siargao-adv {
                h1 {
                    font-size: 3em;
                }

                .adventure1 {
                    .adventure-pic {
                        object-fit: contain;
                        width: 17em;
                        height: 17em;
                        margin-left: 4em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        margin-top: 1.25em;
                        text-align: center;
                        //width: 35em;

                        h2 {
                            font-size: 2.5em;
                            margin-left: 0em;
                        }
                        p {
                            font-size: 1.25em;
                            width: 16em;
                            margin-left: 1.5em;
                        }
                    }
                }

                .adventure2 {
                    margin-top: 5em;
                    .adventure-pic {
                        object-fit: contain;
                        width: 17em;
                        height: 17em;
                        margin-top: -37em;
                        margin-right: 4em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        text-align: center;
                        padding-top: 23em;

                        h2 {
                            font-size: 2.5em;
                            margin-left: 1.25em;
                        }
                        p {
                            font-size: 1.25em;
                            width: 16em;
                            margin-left: 1.5em;
                        }
                    }
                }

                .adventure3 {
                    margin-top: 5em;
                    .adventure-pic {
                        object-fit: contain;
                        width: 17em;
                        height: 17em;
                        margin-left: 4em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        margin-top: 1.25em;
                        text-align: center;
                        //width: 35em;

                        h2 {
                            font-size: 2.5em;
                            margin-left: 0em;
                        }
                        p {
                            font-size: 1.25em;
                            width: 16em;
                            margin-left: 1.5em;
                        }
                    }
                }
            }
        }
    }

    .footer {
        margin-top: -10em;
        padding-top: 5em;

        .footer-con {
            h1 {
                font-size: 3.5em;
                height: 1.25em;
            }

            p {
                color: #fff;
                font-family: $primary-font;
                font-size: 1em;
                line-height: 1.15em;
            }

            .cta-btn {
                width: 10em;
                height: 2.5em;

                a {
                    font-size: 1.15em;
                    text-decoration: none;
                    color: #fff;
                }

                &:hover {
                    background-color: rgba(251, 130, 0, 0.8);
                }
            }
        }
    }
}
// 425px ends here

// 320px query starts here
@media only screen and (max-width: 320px) {
    .nav-bar {
        .navbar {
            .logo {
                width: 35px;
                margin-left: -0.95em;
                margin-top: 0em;
            }
        }
    }

    #lokal-landing {
        .lokal-panel {
            //padding-top: 5em;
            padding-bottom: -5em;

            .title {
                font-size: 2em;
                font-family: $primary-font;
                //color: red;
            }

            .picture {
                margin-left: -7em;
                margin-top: 3em;
                .polaroid1 {
                    .pol1 {
                        object-fit: contain;
                        width: 8em;
                        height: 6em;
                        margin-right: -3em;
                    }
                }

                .polaroid2 {
                    .pol2 {
                        object-fit: contain;
                        width: 8em;
                        height: 6em;
                        margin-right: -3em;
                    }
                }

                .polaroid3 {
                    .pol3 {
                        object-fit: contain;
                        width: 8em;
                        height: 6em;
                    }
                }
            }
        }
    }

    #lokal-content {
        .itinerary {
            .accomodation {
                #pic1 {
                    object-fit: contain;
                    width: 14em;
                    height: 14em;
                    margin-left: 1.75em;
                }
                .lokal-txt {
                    margin-left: 3%;
                    margin-top: 1.25em;
                    text-align: center;
                    //width: 35em;

                    h2 {
                        font-size: 2em;
                        margin-left: -0.75em;
                    }
                    p {
                        font-size: 1em;
                        width: 15em;
                        margin-left: 1em;
                    }
                }
            }

            .food-reco {
                #pic2 {
                    object-fit: contain;
                    width: 14em;
                    height: 14em;
                    //margin-right: 2%;
                    margin-right: 1.75em;
                    position: relative;
                    margin-top: -35em;
                }
                .lokal-txt {
                    margin-left: 3%;
                    padding-top: 25em;
                    text-align: center;
                    //width: 35em;

                    h2 {
                        font-size: 2em;
                        margin-left: 1.25em;
                    }
                    p {
                        font-size: 1em;
                        width: 15em;
                        margin-left: 1em;
                    }
                }
            }

            .siargao-adv {
                h1 {
                    font-size: 2em;
                }

                .adventure1 {
                    .adventure-pic {
                        object-fit: contain;
                        width: 14em;
                        height: 14em;
                        margin-left: 1.75em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        margin-top: 1.25em;
                        text-align: center;
                        //width: 35em;

                        h2 {
                            font-size: 2em;
                            margin-left: -0.75em;
                        }
                        p {
                            font-size: 1em;
                            width: 15em;
                            margin-left: 1em;
                        }
                    }
                }

                .adventure2 {
                    margin-top: 5em;
                    .adventure-pic {
                        object-fit: contain;
                        width: 14em;
                        height: 14em;
                        margin-top: -32em;
                        margin-right: 1.75em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        //margin-top: 1.25em;
                        text-align: center;
                        padding-top: 18em;
                        //width: 35em;

                        h2 {
                            font-size: 2em;
                            margin-left: 1.25em;
                        }
                        p {
                            font-size: 1em;
                            width: 16em;
                            margin-left: 0em;
                        }
                    }
                }

                .adventure3 {
                    margin-top: 5em;
                    .adventure-pic {
                        object-fit: contain;
                        width: 14em;
                        height: 14em;
                        margin-left: 1.75em;
                    }
                    .lokal-txt {
                        margin-left: 3%;
                        margin-top: 1.25em;
                        text-align: center;
                        //width: 35em;

                        h2 {
                            font-size: 2em;
                            margin-left: -0.75em;
                        }
                        p {
                            font-size: 1em;
                            width: 15em;
                            margin-left: 1em;
                        }
                    }
                }
            }
        }
    }

    .footer {
        margin-top: -10em;
        padding-top: 5em;

        .footer-con {
            h1 {
                font-size: 3em;
                height: 1.25em;
            }
        }
    }
}
