@import "stylesheet/partials";
@font-face {
    font-family: 'hangry_handregular';
    src: url('/.font/hangryhand-regular-webfont.woff2') format('woff2'),
         url('/.font/hangryhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'silk_flower_demoregular';
    src: url('/.font/silkflowerdemo-regular-webfont.woff2') format('woff2'),
         url('/.font/silkflowerdemo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$primary-font:'hangry_handregular';
$secondary-font:'silk_flower_demoregular';

// di pa updated social media icon styles nito

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $chic-pink;
    overflow-x: hidden;
}


// navbar - dan
.nav-bar {
    margin-left: 5em;
    width: 100vw;
    height: 50%;

    .navbar {
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: auto;

        .logo {
            width: 80px;
            cursor: pointer;
            margin-top: 10px;
            margin-bottom: 5px;
            justify-content: flex-start;
        }

        .burger-btn{
            border: none;
            background-color: transparent;
        }

        nav {
            text-align: right;
            justify-content: flex-end;
            margin-right: 7vw;

            .contact {
                border: 0.25em solid $secondary-color;
                border-radius: 2em;
                width: 9em;
                height: 3em;
                text-align: center;
                justify-content: center;
                //padding-top: .15em;
                transition: all 0.25s ease-in;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 30px;
                    font-family: $primary-font;
                }

                &:hover {
                    color: #fff;
                    background-color: $secondary-color;
                }
            }

            ul li {
                margin-top: 20px;
                list-style-type: none;
                display: inline-block;
                margin-right: 50px;

                .nav-a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 30px;
                    font-family: $primary-font;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}

// social media icons

.social {
    margin-top: auto;
    position: sticky;
    margin-bottom: 0;
    width: 5%;
    //z-index: 2;

    li,
    a,
    i {
        border: none;
        background-color: transparent;
        color: $peachy;
        margin-left: 1.30em;
        padding-top: 1em;
        list-style: none;
        position: relative;
        //z-index: 2;
        transition: all 0.2s ease-in-out;
        text-decoration: none;

        &:hover {
            background: linear-gradient(135deg, $primary-color, $sultry-red);
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            //transform: scale(.98);
            transform: translateY(-5px);
        }
    }

    .vl {
        border-left: 2px solid $peachy;
        height: 150px;
        margin-left: 5.75em;
        padding-top: 20px;
        margin-top: 40px;
        position: relative;
        //z-index: 2;
        transition: none;

        &:hover {
            transform: none;
        }
    }
}

// book-movie section starts here
#book-movie {
    .book-movie-bg {
        position: relative;
        // z-index: 1;
        width: 100%;
    }

    .containerr {
        margin-top: 5%;
        margin-right: 6vw;
        position: sticky;
        //display: grid;
    }

    .main-txt {
        @extend %main-txt;
        font-family: $secondary-font;
        float: right;
        text-align: right;
        justify-content: flex-end;
    }


    .cta-btn {
        @extend %cta-btn;
        // margin-top: -25em;
        // margin-top: auto;
        letter-spacing: 0.5em;
        float: right;
        justify-content: flex-end;
        font-family: $primary-font;
    }
}
// book-movie section ends here

// univ-life section starts here
#univ-life {
    .univ-bg-gif {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: right;
        position: relative;
        margin: 10% auto 10% auto;
    }
}
// univ-life section ends here

//study tips starts here
#study-tips {
    .study-tips-bg {
        position: relative;
        //z-index: 1;
    }

    .containerr {
        margin-top: 10%;
        margin-left: 15vw;
        position: sticky;
        //margin-left: 10vw;
    }

    .main-txt {
        @extend %main-txt;
        font-family: $secondary-font;
        text-align: left;
        //margin-top: -900px;
        //margin-bottom:auto;
        //margin-top: -6.5em;
        /*
        float: left;
        text-align: left;
        justify-content: flex-start;
        */
    }

    .cta-btn {
        @extend %cta-btn;
        font-family: $primary-font;
        margin-top: 2em;
        letter-spacing: 0.75em;
    }
}
// study tips end here


// MEDIA QUERY STARTS HERE
// 1080px query starts here
@media only screen and (max-width: 1080px) {
    

    #book-movie {
        .cta-btn {
            @extend %cta-btn-res;
        }
    }

    #study-tips {
        .containerr {
            margin-left: 6vw;
        }

        .main-txt {
            margin-bottom: 3%;
        }

        .cta-btn {
            @extend %cta-btn-res;
            margin-top: auto;
        }
    }
}
// 1080px query ends here

// 955px query starts here
@media only screen and (max-width:955px){
    .nav-bar {
        margin-left: 1em;

        nav {
            display: none;
        }

        .navbar {
            .logo {
                width: 55px;
                //margin-left: -5em;
            }
        }
    }

    .social {
        display: none;
    }
}
// 950px query ends here

// 320px query starts here
@media only screen and (max-width: 320px) {
    .nav-bar {
        margin-left: 0.5em;

        nav {
            display: none;
        }

        .navbar {
            .logo {
                width: 35px;
                margin-left: -.5em;
                margin-top: 0em;
            }
        }
    }

    #study-tips {
        .containerr {
            margin-top: 8%;
        }

        .main-txt {
            margin-bottom: 2%;
        }
    }
}
// 320px query ends here
